.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StripeElement {
  /*margin: 15px auto;*/
  padding: 10px 12px;
  color: #32325d;
  background-color: #040a2d;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;

  width: 402px;
  margin-left: -11mm;
  text-align: center;


}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
